.DS\_Store
.DS_Store
*.sw?
**/build_temp/**
**/resources-ram/**
**/resources-concatenated/**
**/resources-precompiled/**
**/project_*
development.icf
iwtrace.txt
**/source-assets/**
**/code-drop/**
MiniDump.dmp
*.bak
mobdebug.lua
mainCompleteDemo.lua